@page "/mordheim/integrity-policy"

<PageTitle>Integrity Policy</PageTitle>

<div class="background-paper">
    <svg>
        <filter id="wavy2">
            <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"></feTurbulence>
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
    </svg>
</div>

<div class="mordheim-page">
    <h2>HexedScenery Mordheim Helper – Integrity Policy</h2>

    <i>Last updated: 2025-07-07</i><br />

    HexedScenery Mordheim Helper is a utility app designed to assist players of the tabletop game Mordheim. We take integrity and user trust seriously. This document outlines our approach to privacy and data handling.
    <br /><br />
    <h2>1. No User Data Collection</h2>

    HexedScenery Mordheim Helper does not collect, store, or transmit any personal or sensitive user data. The app is fully self-contained and operates entirely on the user's device.

    No registration or login is required other than for puchasing the app.

    No personal information is requested, recorded, or used.

    No analytics, tracking technologies, or advertising identifiers are implemented.

    No data is sent to external servers or third-party services.

    <br /><br />

    <h2>2. Third-Party Services</h2>

    HexedScenery Mordheim Helper does not integrate with any third-party services that collect or process data. Should this change in future versions, we will update this policy accordingly and clearly notify users.
    <br /><br />

    <h2>3. Security and Transparency</h2>

    Although no data is collected, we still strive to follow best practices in software development to ensure the integrity, reliability, and security of the app.
    <br /><br />

    If you have any questions or concerns regarding this policy, feel free to contact us at: mordheim@hexedscenery.com


</div>



@code {

}
